<div class="banner padded" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/6b30e7f8206f/assets/img/home/hero_photos/atHzOuzY6J-kKdgKQnCDQQ.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <%= image_tag "https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c3484759c57a/assets/img/logos/logo_desktop_xlarge.png" %>
          <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-success"  %>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <h1 class="text-center">Our restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/6b30e7f8206f/assets/img/home/hero_photos/atHzOuzY6J-kKdgKQnCDQQ.jpg');">
        <div class="card-category"><%= restaurant.category %></div>
        <div class="card-description">
          <h2><%= restaurant.name %></h2>
          <h4><%= restaurant.address %></h4>
          <p>Phone number : <%= restaurant.phone_number %></p><br>
        </div>
        <%= link_to "", restaurant_path(restaurant.id), class: "card-link"  %>
      </div>
      <div class="text-center link">
      <%= link_to "Add a review on this restaurant", new_restaurant_review_path(restaurant.id), class: "btn btn-success btn-sm text-center" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

