<h1 class="text-center"><%= @restaurant.name %></h1>

<div class="resto">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

          <div class="primary-attributes">
            <span class="category-str-list"><%= @restaurant.category %></span>
          </div>

          <div class="secondary-attributes">
            <address><%= @restaurant.address %></address>
            <span class="offscreen">Phone number</span>
            <span class="biz-phone"><%= @restaurant.phone_number %></span><br>
            <%= link_to "Back to our restaurants", restaurants_path  %>
            <%= link_to "Add a review", new_restaurant_review_path(@restaurant)  %>
          </div>
      </div>
    </div>
    <% @restaurant.reviews.each do |review| %>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="review-content">
          <div class="i-stars i-stars--regular-<%= review.rating %> rating-large"></div>
          <span class="rating-qualifier"><%= review.created_at %></span>
          <p><%= review.content %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
