<h1 class="text-center">Add a review for <%= @restaurant.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Add your review", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
